<section class="ftco-section">
  <nav
    class="
      navbar navbar-expand-lg navbar-dark
      ftco_navbar
      bg-dark
      ftco-navbar-light
    "
    id="ftco-navbar"
  >
    <div class="container">
      <a class="navbar-brand" href="">E-Hut Bazar</a>
      <form class="searchform order-sm-start order-lg-last">
        <div class="form-group d-flex">
          <input type="text" class="form-control pl-3" placeholder="Search" />
          <button type="submit" placeholder="" class="form-control search">
            <span class="fa fa-search"></span>
          </button>
        </div>
      </form>
      <div class="order-sm-start order-lg-last">
        <a href="#!/Logout" class="nav-link">Logout</a>
      </div>

      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#ftco-nav"
        aria-controls="ftco-nav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="fa fa-bars"></span> Menu
      </button>
      <div class="collapse navbar-collapse" id="ftco-nav">
        <ul class="navbar-nav m-auto">
          <li class="nav-item">
            <a href="#!/Admin/Home" class="nav-link">Home</a>
          </li>

          <li class="nav-item">
            <a href="#!/Admin/Profile" class="nav-link">Profile</a>
          </li>
          <li class="nav-item active">
            <a href="#!/Admin/User/Info" class="nav-link">Users Info</a>
          </li>

          <li class="nav-item">
            <a href="#!/Admin/Notice" class="nav-link">Notice</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- END nav -->
</section>
<h3 style="margin-left: 600px">ALL Admins</h3>
<div style="margin-left: 210px; margin-right: 210px">
  <div
    class="card"
    style="
      width: 22rem;
      float: left;
      margin-left: 5px;
      margin-right: 5px;
      margin-top: 5px;
    "
    ng-repeat="a in admins"
  >
    <img src="views/assects/admin.png" class="card-img-top" alt="..." />
    <div class="card-body">
      <h5 class="card-title">{{a.Admin_Name}}</h5>
      <p class="card-text"></p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Email: {{a.Admin_Email}}</li>
      <li class="list-group-item">Phone: {{a.Admin_Phone}}</li>
      <li class="list-group-item">/{{a.Admin_Type}}</li>
    </ul>
    <div class="card-body">
      <a href="#!/Admin/Update/{{a.Admin_Id}}" class="card-link">Update</a>
      <a href="#!/Admin/Delete/{{a.Admin_Id}}" class="card-link">Delete</a>
      
    </div>
  </div>
</div>
